{% extends 'partials/base.html' %}


{% block content %}

    <div class="row mt-5">
        <div class="col-md-4 mt-2">
            <h4>Add Data</h4>
            <hr>

            <form action="" method="POST">
                {% csrf_token %}

                {{ form }}

                <input class="btn btn-success mt-2" type="submit" value="Add Data">

            </form>

        </div>

        <div class="col-md-8">
            <canvas id="myChart" width="400" height="250"></canvas>
                <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for product in products %}  '{{ product.category }}',  {% endfor %}],
                        datasets: [{
                            label: '# of Products',
                            data: [{% for product in products %}  {{ product.num_of_products }},  {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)',
                                'rgba(240, 120, 50, 0.8)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(240, 120, 50, 1)',

                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>
        </div>
    </div>



{% endblock %}
